body {
    font-family: andale mono, monospace;
    background-color: #fffef9;
}

#titleContainer {
    position: sticky;
    top: 0;
    padding: 30px;
    background-color: #fffef9;
}

.categoryNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A1887F;
    overflow-x: hidden;
    transition: 0.2s;
}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    cursor: pointer;
}

.navContent {
    position: absolute;
    padding: 30px;
}

.navFooter {
    position: absolute;
    bottom: 0;
    margin: 30px;
    text-align: right;
}

.navLogo a {
    font-size: 30px;
    margin-left: 10px;
}

.navContent a {
    font-size: 25px;
    letter-spacing: -1px;
}

.logo {
    height: 30px;
    width: 30px;
    vertical-align: text-bottom;
}

#navList {
    text-align: center;
    padding: 10px 0;
    margin: 30px;
    list-style: none;
    font-size: 20px;
}

#navList li {
    margin: 40px 0;
    cursor: pointer;
}

#gallery {
    padding: 30px;
}

.galleryItem {
    transition: 0.3s;
    width: 300px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    cursor: default;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;

    animation-name: zoom;
    animation-duration: 0.4s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close, .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #bbb;
}

.close:hover, .prev:hover, .next:hover {
    background-color: black;
}

.row {
    display: flex;
}

.col {
    flex: 50%;
}

h2 {
    font-style: italic;
}