<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pullen's Portfolio – my different various works of art</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body onload="populateGallery()">
    <!-- logo, header, and socials container -->
    <div>
        <!-- left division -->
        <div>
            <span onclick="showOrHideNav()" class="navLogo">
                LOGO
                <!-- <img src="logo.png"> -->
            </span>
            <span>
                Pullen's Portfolio
            </span>
        </div>
        <!-- right division -->
        <div>
            <a href="https://twitter.com/_Losif_">twitter</a>
            <a href="https://www.instagram.com/losiflg/">instagram</a>
        </div>
    </div>
    <!-- category container -->
    <div id="categoryContainer" class="categoryNav">
        <div>
            <span onclick="showOrHideNav()" class="navLogo">
                LOGO
                <!-- <img src="logo.png"> -->
            </span>
            <span>
                Pullen's Portfolio
            </span>
        </div>
        <ul id="navList"></ul>
        <div>
            <a href="https://twitter.com/_Losif_">twitter</a>
            <a href="https://www.instagram.com/losiflg/">instagram</a>
        </div>
    </div>
    <div id="gallery">
        <!-- modal images, responsive image grid, carousel in modal (lightbox) -->

        <div id="galleryModal" class="modal">
            <img id="modalImg" class="modal-content">
            <span class="close" onclick="closeImage()">&times;</span>
            <span class="prev" onclick="moveSlide(-1)">&#10094;</span>
            <span class="next" onclick="moveSlide(1)">&#10095;</span>
            <div id="dotModalNav" style="text-align: center;"></div>
        </div>
    </div>
</body>
<script>
    const gallery = document.getElementById('gallery')
    const modal = document.getElementById('galleryModal')
    const modalImage = document.getElementById('modalImg')
    const sidebarWidth = "300px";
    const sidebar = document.getElementById('categoryContainer')
    let currentImgId = undefined

    const categoryJson = fetch("{{ url_for('static', filename='category.json') }}")
        .then(res => res.json())
        .then(content => content)


    function populateSideNav() {
        const navList = document.getElementById('navList')
        navList.innerHTML = ''

        categoryJson.then(ls => {
            ls['categoryList'].forEach(category => {
                const navItem = document.createElement('li')
                navItem.innerText = category.categoryName
                navItem.onclick = function () {
                    document.getElementById(category.categoryId).scrollIntoView({"behavior": "smooth"})
                    showOrHideNav()
                }
                navItem.setAttribute('class', 'navItem')
                navList.appendChild(navItem)
            })
        })
    }

    function populateGallery() {
        categoryJson.then(ls => {
            ls['categoryList'].forEach(category => {
                const categoryDiv = document.createElement('div')
                categoryDiv.id = category.categoryId

                const nameIdCard = document.createElement('h1')
                nameIdCard.innerText = category.categoryName

                categoryDiv.appendChild(nameIdCard)

                category['images'].forEach(image => {
                    const imgNode = document.createElement('img')

                    imgNode.setAttribute('id', image.imageId)
                    imgNode.src = `/static/${image.src}`
                    imgNode.setAttribute('class', "galleryItem")
                    imgNode.setAttribute('onclick', "showImg(this.id)")

                    categoryDiv.appendChild(imgNode)
                })
                gallery.insertBefore(categoryDiv, modal)
            })
        })
    }

    function populateModalNav() {
        getSelectedImageList().then(imagesArr => {
            const dotDiv = document.getElementById('dotModalNav')
            dotDiv.innerHTML = ""
            showOrHideSlideButtons("none")

            if (imagesArr.length == 1) return
            imagesArr.forEach(imageObj => {
                showOrHideSlideButtons("inline")
                const dotNode = document.createElement('span')
                const dotId = imageObj.imageId
                dotNode.setAttribute('onclick', `showImg('${dotId}')`)
                dotNode.className = "dot"
                if (dotId == currentImgId) {
                    dotNode.className += " active"
                }
                dotDiv.appendChild(dotNode)
            })
        })
    }

    function showOrHideNav() {
        if (sidebar.style.width == sidebarWidth) {
            sidebar.style.width = 0;
        } else {
            sidebar.style.width = sidebarWidth;

            populateSideNav();
        }
    }

    function showImg(id) {
        const img = document.getElementById(id);
        modal.style.display = "block";
        modalImage.src = img.src;
        currentImgId = id

        populateModalNav()
    }

    function closeImage() {
        modal.style.display = "none"
        modalImage.removeAttribute('src')
        currentImgId = null
    }

    function moveSlide(n) {
        getSelectedImageList().then(imagesArr => {
            const imagesCount = imagesArr.length
            let idx = imagesArr.findIndex(el => el.imageId == currentImgId)
            idx = (idx + n) % imagesCount
            idx = idx < 0 ? imagesCount-1 : idx

            showImg(imagesArr[idx].imageId)
        })
    }

    function getSelectedImageList() {
        return categoryJson.then(ls => 
            ls['categoryList'].find(cat =>
                cat.categoryId == document.getElementById(currentImgId).parentElement.id
            ).images
        )
    }

    function showOrHideSlideButtons(display) {
        document.getElementsByClassName('prev')[0].style.display = display;
        document.getElementsByClassName('next')[0].style.display = display;
    }

    document.addEventListener('click', function clickOutsideSidebar(event) {
        if (sidebar.style.width == sidebarWidth && !sidebar.contains(event.target) && gallery.contains(event.target)) {
            showOrHideNav()
        }
    })
</script>
</html>