<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pullen's Portfolio – my different various works of art</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="titleContainer" class="row">
        <div class="col">
            <span class="navLogo">
                <img src="static/images/logo.png" class="logo">
                <a href="/">Pullen's Portfolio</a>
            </span>
        </div>
        <div class="col" style="text-align: right;">
            <a href="https://twitter.com/_Losif_"><img src="static/images/tw_logo.png" class="logo"></a>
            <a href="https://www.instagram.com/losiflg/"><img src="static/images/ig_logo.png" class="logo"></a>
        </div>
    </div>

    <div id="categoryContainer" class="categoryNav">
        <div class="navContent">
            <span class="navLogo">
                <img src="static/images/logo.png" class="logo">
                <a href="/">Pullen's Portfolio</a>
            </span>
            <ul id="navList"></ul>
        </div>
        <div class="navFooter">
            <a href="https://twitter.com/_Losif_"><img src="static/images/tw_logo.png" class="logo"></a>
            <a href="https://www.instagram.com/losiflg/"><img src="static/images/ig_logo.png" class="logo"></a>
        </div>
    </div>

    <div id="gallery">
        <div id="galleryModal" class="modal">
            <img id="modalImg" class="modal-content">
            <span class="close">&times;</span>
            <span class="prev">&#10094;</span>
            <span class="next">&#10095;</span>
            <div id="dotModalNav" style="text-align: center;"></div>
        </div>
    </div>
</body>
<script>
    document.querySelector('.prev').moveN = -1
    document.querySelector('.next').moveN = 1
</script>
<script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>